{% extends 'base.html' %}
{% block content %} 

<!DOCTYPE html>
<html lang="en">


<style>
    .feature-icon {
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
    }    
    .card:hover{
        transform: translateY(-2px);
    }
</style>

<!-- Google Fonts -->
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>


<div class="container py-5 my-3 lh-2 align-items-start" >
    <p><a href="/">Home</a> - Account</p>

    <h2 style="font-family: 'Roboto';">Your account</h2>
    <h2 class="lead text-secondary">Manage your account and settings here.</h2>

    <div class="row mt-3 pt-5" >
        <div class="col">
            <div class="card px-0 pb-0 mt-3 mb-3 shadow" style="width: 22rem;">
                <div class="card-body">
                    <div class="feature col">
                        
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-person-vcard" viewBox="0 0 16 16">
                                <path d="M5 8a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm4-2.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4a.5.5 0 0 1-.5-.5ZM9 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1h-4A.5.5 0 0 1 9 8Zm1 2.5a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1-.5-.5Z"/>
                                <path d="M2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2ZM1 4a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H8.96c.026-.163.04-.33.04-.5C9 10.567 7.21 9 5 9c-2.086 0-3.8 1.398-3.984 3.181A1.006 1.006 0 0 1 1 12V4Z"/>
                                </svg>                            
                        </div>
                        <h5 class="fs-5" style="font-family: 'Roboto'; font-weight: bold">
                            {% if user.role == 1 %}
                                Personalized experience
                            {% else %}
                                Personal information
                            {% endif %} </h5>
                        <p>Provide us with some personal information to enhance your experience.</p>
                        <a href="/personal_info/" class="stretched-link"></a>

                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card px-0 pb-0 mt-3 mb-3 shadow" style="width: 22rem;">
                <div class="card-body">
                    <div class="feature col">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-shield-lock" viewBox="0 0 16 16">
                                <path d="M5.338 1.59a61.44 61.44 0 0 0-2.837.856.481.481 0 0 0-.328.39c-.554 4.157.726 7.19 2.253 9.188a10.725 10.725 0 0 0 2.287 2.233c.346.244.652.42.893.533.12.057.218.095.293.118a.55.55 0 0 0 .101.025.615.615 0 0 0 .1-.025c.076-.023.174-.061.294-.118.24-.113.547-.29.893-.533a10.726 10.726 0 0 0 2.287-2.233c1.527-1.997 2.807-5.031 2.253-9.188a.48.48 0 0 0-.328-.39c-.651-.213-1.75-.56-2.837-.855C9.552 1.29 8.531 1.067 8 1.067c-.53 0-1.552.223-2.662.524zM5.072.56C6.157.265 7.31 0 8 0s1.843.265 2.928.56c1.11.3 2.229.655 2.887.87a1.54 1.54 0 0 1 1.044 1.262c.596 4.477-.787 7.795-2.465 9.99a11.775 11.775 0 0 1-2.517 2.453 7.159 7.159 0 0 1-1.048.625c-.28.132-.581.24-.829.24s-.548-.108-.829-.24a7.158 7.158 0 0 1-1.048-.625 11.777 11.777 0 0 1-2.517-2.453C1.928 10.487.545 7.169 1.141 2.692A1.54 1.54 0 0 1 2.185 1.43 62.456 62.456 0 0 1 5.072.56z"/>
                                <path d="M9.5 6.5a1.5 1.5 0 0 1-1 1.415l.385 1.99a.5.5 0 0 1-.491.595h-.788a.5.5 0 0 1-.49-.595l.384-1.99a1.5 1.5 0 1 1 2-1.415z"/>
                                </svg>                            </div>
                        <h5 class="fs-5" style="font-family: 'Roboto'; font-weight: bold">Login & security</h5>
                        <p>Manage your password and secure your account.</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card px-0 pb-0 mt-3 mb-3 shadow" style="width: 22rem;">
                <div class="card-body">
                    <div class="feature col">
                        <div class="feature-icon d-inline-flex align-items-center justify-content-center text-bg-primary bg-gradient fs-2 mb-3">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-clock-history" viewBox="0 0 16 16">
                                <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022l-.074.997zm2.004.45a7.003 7.003 0 0 0-.985-.299l.219-.976c.383.086.76.2 1.126.342l-.36.933zm1.37.71a7.01 7.01 0 0 0-.439-.27l.493-.87a8.025 8.025 0 0 1 .979.654l-.615.789a6.996 6.996 0 0 0-.418-.302zm1.834 1.79a6.99 6.99 0 0 0-.653-.796l.724-.69c.27.285.52.59.747.91l-.818.576zm.744 1.352a7.08 7.08 0 0 0-.214-.468l.893-.45a7.976 7.976 0 0 1 .45 1.088l-.95.313a7.023 7.023 0 0 0-.179-.483zm.53 2.507a6.991 6.991 0 0 0-.1-1.025l.985-.17c.067.386.106.778.116 1.17l-1 .025zm-.131 1.538c.033-.17.06-.339.081-.51l.993.123a7.957 7.957 0 0 1-.23 1.155l-.964-.267c.046-.165.086-.332.12-.501zm-.952 2.379c.184-.29.346-.594.486-.908l.914.405c-.16.36-.345.706-.555 1.038l-.845-.535zm-.964 1.205c.122-.122.239-.248.35-.378l.758.653a8.073 8.073 0 0 1-.401.432l-.707-.707z"/>
                                <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0v1z"/>
                                <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>                            
                            </div>
                        
                        {% if user.role == 1 %}
                        <h5 class="fs-5" style="font-family: 'Roboto'; font-weight: bold">History</h5>
                        <p>Keep track of your history and review your transactions.</p>
                        <a href="/history/" class="stretched-link"></a>                            
                        {% else %}
                        <h5 class="fs-5" style="font-family: 'Roboto'; font-weight: bold">Calendar</h5>
                        <p>Keep track of your schedule and review your appointments/bookings.</p>
                        <a href="/calendar/" class="stretched-link"></a>                            
                        {% endif %}
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
        
</div>


<html>

{% endblock %}