<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Error Page</title>
</head>
<body>
  <div class="error-page">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 text-center">
          <div class="error-content">
            <h1 class="display-1">404</h1>
            <h2 class="display-4">Oops! This page could not be found.</h2>
            <p class="lead">Sorry but the page you are looking for does not exist, have been removed or name changed.</p>
            <a href="#" class="btn btn-primary">Go back to homepage</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
